*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* body{
    background-image: url(/assets/img/pexels-gradienta-6985132.jpg);
    background-size: cover;
} */

.layer{
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    height: 100vh;
    width: 100%;
    background-image: url(/img/pexels-gradienta-6985001.jpg);
    background-size: cover;
}

.button-box{
    position: relative;
    width: 220px;
    margin: 35px auto;
}

.btn{
    background: linear-gradient(to right, #ff105f,#ffad06);
    position: absolute;
    width:110px;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
}

.toggle-btn{
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius:30px;
    outline: none;
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    position: relative; 
}

.main-box{
    width: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.box h1{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.box input[type ="text"], .box input[type ="password"]{
    border: 2.2px solid rgb(0, 216, 206,255);
    background:none;
    color: #fff;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border-radius: 18px;
    width: 220px;
    transition: 0.6s;

}

.box input[type ="text"]:focus, .box input[type ="password"]:focus{
    border-color: rgb(150, 255, 30);
    padding: 18px 12px;
}
.box input[type="submit"]{
    border: 2.2px transparent rgb(150, 255, 30);
    background:none;
    background:linear-gradient(to right, #ff105f,#ffad06);
    color: #fff;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border-radius: 30px;
    width: 150px;
    transition: 0.5s;
}

.box input[type="submit"]:hover{
    width:180px;
    padding: 14px 12px;
}
